@charset "utf-8";

.vue-admin-beautiful-theme-dark {
  $base-menu-background: #00b19d;
  $base-menu-background-active: #2f9688;
  $base-color-blue: #00b19d;

  color: #fff !important;
  background-color: #fafafa !important;

  .el-button--primary {
    background-color: $base-menu-background-active;
    border-color: $base-menu-background-active;
  }
  .el-button:active {
    color: $base-color-blue;
    border-color: $base-color-blue;
  }
  .el-radio-button__inner:hover {
    color: $base-menu-background-active;
  }
  .el-tabs__header {
    border-color: $base-menu-background;
  }
  .is-active:not(li) {
    *:not(a):not([class*="svg"]) {
      border-color: #999 !important;
    }
  }

  .svg-external-icon {
    color: #fff !important;
  }

  .el-scrollbar__bar {
    display: none;
  }

  @mixin container {
    background: $base-menu-background !important;
  }

  @mixin active {
    &:hover {
      background-color: $base-menu-background-active !important;
    }

    &.is-active {
      background-color: $base-menu-background-active !important;
    }
  }

  .logo-container-horizontal {
    @include container;
  }

  .logo-container-vertical {
    @include container;
  }

  .el-menu {
    @include container;

    .el-submenu__title {
      @include container;
    }

    .el-menu-item {
      @include container;
    }
  }

  .side-bar-container {
    @include container;

    .el-menu-item {
      @include active;
    }
  }

  .top-bar-container {
    @include container;

    .vab-main {
      @include container;

      .el-menu {
        &--horizontal {
          .el-submenu,
          .el-menu-item {
            &.is-active {
              background-color: $base-menu-background-active !important;
            }
          }

          > .el-menu-item {
            &.is-active {
              border-bottom: 3px solid $base-menu-background-active !important;
            }
          }
        }
      }
    }
  }
  .el-dropdown-menu__item:not(.is-disabled):hover,
  .el-dropdown-menu__item:focus {
    background-color: rgba(0, 177, 157, 0.2);
    color: $base-menu-background-active;
  }
  .el-pagination.is-background .el-pager li:not(.disabled) {
    &.active {
      background-color: $base-color-blue;
    }
    &:hover {
      color: $base-color-blue;
    }
  }

  .el-loading-spinner {
    .path {
      stroke: $base-color-blue;
    }
    .el-loading-text {
      color: $base-color-blue;
    }
  }
  .tabs-bar-container {
    background: $base-color-white;
    border-top: 1px solid #f6f6f6;

    .tabs-content {
      .el-tabs__header {
        .el-tabs__item {
          &:hover {
            color: $base-color-blue;
          }
          &.is-active {
            border: 1px solid $base-color-blue !important;
            color: $base-color-blue;
          }
        }
      }
    }
  }

  .theme-bar-setting {
    background: $base-color-blue !important;
  }
}
